<script src="assets/js/controllers/mk/RegCtrl.js"></script>

		<style>
    .member-protocol{
        padding: 10px;
    }
    .member-protocol .head-nav{
        text-align: center;
		line-height: 40px;
		font-size: 18px;
    }
    .member-protocol p{
        line-height: 35px;
        font-size: 16px;
    }
    .member-protocol .second-section .merchant-protocol{
        margin-left:20px;
    }
    .member-protocol .second-section .two-protocol{
        font-size:16px;
        margin-top: 10px;
        margin-left: 20px;
     }
     .member-protocol .content{
        margin-left:20px;
     }
     .member-protocol .btn-protocol{
        padding:10px;
        text-align:center;
     }
     .member-protocol .btn-protocol .m-btn3{
		text-align: center;
		background: #f53c51;
		color: #fff;
		padding: 13px 0;
		font-size: 16px;
		text-shadow: 0 0 0 #f3f3f3;
		border: none;
		border-radius: 0;
		text-decoration: none;
		margin: 0;
		width: 50%
}
</style>
<!-- start: REGISTRATION -->
<div class="row">
	<div class="main-login col-xs-12 small" style="margin-top:0px;">
		<div class="logo">
				<a href1 ui-sref1="app.eco.firstpage"><img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/></a>
			</div>
		<!-- start: REGISTER BOX -->
				<div class="box-register" ng-controller="RegCtrl">



<div id="asideContent" style="display:none;border:1px solid #dddddd;background:#fff;overflow:auto;" class="roundrec">

<div class="member-protocol">
	   <div class="head-nav">微信加入会员认证协议（用户版）</div>
       <div class="first-section">
            <p>一、总则</p>
            <div class="content">
	            <div>1、商户的微信服务号是由运营的商户（以下简称“商户”）向消费用户（以下简称“用户”）提供的一款微信网络服务商品。</div>
	            <div>2、用户确认在使用本协议之前，已充分阅读、理解并接受本协议的全部内容，在完成连接并开启服务流程时，即同意遵循本协议的所有约定。</div>
	            <div>3、商户有权随时对本协议及相应的服务规则、内容进行单方面的变更,并以消息推送（含短信、微信消息）、网页公告等方式予以公布，无需另行单独通知。若用户在本协议内容公告变更后继续使用本服务，即表明用户已充分阅读、理解并接受修改后的协议内容，并将遵循修改后的规定；若用户不同意修改的，双方依据之前已使用的本协议内容进行修正。</div>
	            <div>4、双方承诺在签订本协议时均已具备完全民事权利能力和完全民事行为能力的自然人、法人或其他组织，且具有经营合作范围符合有关法律法规和国家规定的经营资质。</div>
	            <div>5、用户在通过设备进行网络连接时，应当按照法律规定，提供真实、准确和完整的资料。如用户提供的资料存在错误、虚假、过时或不完整的，商户有权向用户发出要求改正的通知，并有权直接删除相应资料、暂停或终止提供部分或全部服务。由此而产生的任何损失及责任由用户自行承担。</div>
            </div>
       </div>
       <div class="second-section">
            <p>二、双方权利义务</p>
            <p class="two-protocol">商户的权利和义务</p>
            <div class="content">
	            <div>1、根据用户选择的服务提供合格的网络技术和信息服务。</div>
	            <div>2、对于用户在使用微信服务号加入会员时提供的个人信息，商户有权在商品的服务范围内使用。</div>
	            <div>3、承诺对用户的资料采取保密措施，不向第三方披露，授权使用前述资料，除非：
				         <div class="merchant-protocol">（1）依据本协议条款或者与商户其他服务协议、合同、在线条款等规定可以提供的；</div>
				         <div class="merchant-protocol">（2）依据法律法规的规定应当提供的；</div>
				         <div class="merchant-protocol">（3）行政、司法等职权部门要求商户提供的；</div>
				         <div class="merchant-protocol">（4）用户同意商户向第三方提供的；   </div>
				         <div class="merchant-protocol">（5）商户因解决举报事件、提起诉讼而提交的；</div>
				         <div class="merchant-protocol">（6）商户为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；</div>
				         <div class="merchant-protocol">（7）商户因向用户提供商品、服务、信息而向第三方提供的，包括商户通过第三方的技术及服务向用户提供商品、服务、信息的情况。</div>
		         <p class="two-protocol">用户的权利和义务</p>
		         <div>1、用户加入商户微信会员，即代表授权同意接收与会员相关的优惠信息，含短信、微信通 知，如不愿接收，也可在查收信息后退订。</div>
		         <div>2、用户有权利享受商提供的互联网技术和信息服务，并有权利在接受服务时获得商户的技术支持、咨询等服务。</div>
		         <div>3、用户保证不会利用技术或其他手段破坏或扰乱商户的其他互联网商品。</div>
		         <div>4、用户应尊重商户及其他第三方的知识产权和其他合法权利，并保证在发生侵犯上述权益的违法事件时尽力保护商户及其股东、雇员、合作伙伴等免于因该等事件受到影响或损失；商户保留因用户侵犯本公司合法权益时终止提供服务的权利。</div>
		         <div>5、因用户加入微信会员提供的联络方式有误而导致的一切后果，由用户自行承担责任，包括但不限于因用户未能及时收到商户的相关通知而导致的后果和损失。</div>
		         <div>6、用户保证在使用本商品服务时，遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用商户提供的服务进行存储、发布、传播如下信息和内容：违反国家法律法规政策的任何内容（信息）；违反国家规定的政治宣传和/或新闻信息；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息或教唆犯罪的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；防碍互联网运行安全的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容。用户同时承诺不得为他人发布上述不符合国家规定和/或本服务条款约定的信息内容提供任何便利，包括但不限于设置URL、BANNER链接等。商户有权在用户违反上述约定时终止提供服务并不予退还任何款项，因用户上述行为给商户造成损失的，用户应予赔偿。</div>
		        </div>
	       </div>
       </div>
       <div class="third-section">
            <p>三、法律适用与管辖</p>
            <div class="content">本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，双方应友好协商解决，协商不成的，任何一方均有权向上海仲裁委员会申请仲裁解决。仲裁裁决是终局的，对双方均具有约束力。</div>
       </div>
       <div class="btn-protocol"><button class="m-btn3" ng-click="closelaw()">返回</button></div>
 </div>


</div>



					<form id="f1" class="form-register">
					<div class="title">
							会员注册
						</div>
						<input type="text" style="display:none;" name="actiontype" value="register">
                            <p>
								请输入邀请码:
							</p>
							<div class="form-group">
								<input type="text" class="form-control" id="invite_code" name="invite_code" placeholder="邀请人手机号或编号或商家编号或者短信邀请码" readOnly>
							</div>


							<p style="display:none">
								请输入个人信息:
							</p>
							<div class="form-group" style="display:none">
								<input type="text" class="form-control" name="full_name" placeholder="姓名">
							</div>

							<div class="form-group" style="display:none;">
								<label class="block">
									性别
								</label>
								<div class="clip-radio radio-primary">
								<input style="display:none;" name="gender" value="{{gender_value}}">
									<input type="radio" id="rg-female" name="gender_radio" value="female" ng-model="gender_value">
									<label for="rg-female">
										女
									</label>
									<input type="radio" id="rg-male" name="gender_radio" value="male" ng-model="gender_value">
									<label for="rg-male">
										男
									</label>
								</div>
							</div>
							<p>
								请输入手机号:
							</p>


							<div class="form-group">
								<span class="input-icon">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="手机号">
									<i class="fa fa-mobile"></i> </span>
							</div>

							<div class="form-group">
								<span class="input-icon">
									<input type="text" class="form-control" id="validno" name="validno" placeholder="请先获取验证码，再输入验证码" autocomplete="off">
									<i class="fa ti-pencil"></i>
									<a class="forgot" href1="" ng-click="sendCode()">
										{{description}}
									</a>
									</span>
							</div>

							<div class="form-group" style="display:none;">
								<span class="input-icon">
									<input type="password" class="form-control" id="password" name="password" placeholder="密码(如果不填，默认是手机号后六位)">
									<i class="fa fa-lock"></i> </span>
							</div>
							<div class="form-group" style="display:none;">
								<span class="input-icon">
									<input type="password" class="form-control" id="password_again" name="password_again" placeholder="再输一遍密码">
									<i class="fa fa-lock"></i> </span>
							</div>
							<div class="form-group">
								<div class="checkbox clip-check check-primary">
								<input style="display:none;" id="agree" name="agree" value="{{agree_value}}">
									<input type="checkbox" id="agree_checkbox" ng-model="agree_value">
									<label for="agree_checkbox">
										同意
									</label>
									<a ui-sref1="login.memlaw" ng-click="openlaw('asideContent')">
										<<会员认证协议>>
									</a>
								</div>
							</div>
							<div class="form-actions">
								<p>
									已经有帐号?
									<a href1 ui-sref="login.signin">
										登录
									</a>
								</p>
								<button type="button" id="reg_submit" class="btn btn-primary pull-right">
									提交 <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>

					</form>
					<!-- start: COPYRIGHT -->
					<div class="copyright small">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span class="small">All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: REGISTER BOX -->
	</div>
</div>
<!-- end: REGISTRATION -->
