<script src="assets/js/controllers/mk/LogoutCtrl.js"></script>

<!-- start: LOGIN -->
<div class1="row">
	<div class="main-login col-xs-12">
		<div class="logo">
				<a href1 ui-sref="app.eco.firstpage"><img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/></a>
			</div>
		<!-- start: LOGIN -->
				<!-- start: LOGIN BOX -->
				<div class="box-login" ng-controller="LogoutCtrl">
				
					<form id="f1" class="form-login">
					<div class="title">
							退出
						</div>
						

						
						 
					</form>
					
					<!-- start: COPYRIGHT -->
					<div class="copyright small">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span class="small">All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: LOGIN BOX -->
			</div>
		</div>
		<!-- end: LOGIN -->


		

