<script src="assets/js/controllers/mk/DealCtrl.js"></script>
<!-- start: REGISTRATION class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4"-->
<div class="row">
	<div class="main-login col-xs-12">
		
		<!-- start: REGISTER BOX -->
				<div class1="box-register" ng-controller="DealCtrl">
					<form id="f1" class="form-register">

						




                            <div class="form-group" style="display:none;">
                                  <label class="col-sm-block control-label">
                                      交易次数
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="jycs" class="form-control" readOnly>
                                  </div>
                              </div>
                              <div class="form-group" style="display:none;">
                                  <label class="col-sm-block control-label">
                                      交易金额
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="jyje" class="form-control" readOnly>
                                  </div>
                              </div>
							  <div class="form-group" style="display:none;">
                                  <label class="col-sm-block control-label">
                                      获得积分
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="hdjf" class="form-control" readOnly>
                                  </div>
                              </div>
							  <div class="form-group" style="display:none;">
                                  <label class="col-sm-block control-label">
                                      使用积分
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="syjf" class="form-control" readOnly>
                                  </div>
                              </div>
                              
                              
                          
                              

							<div class="row" align=center>


<div id="demo_box">
            <ul id="demo_ul">

				<li class="demo_li"><a ui-sref="app.wx.me.shoplist"><div class="icon"><i class="ti ti-time"></i></div><div class="caption"><div translate="dashboard.po"></div></div></a> </li>
				<!--
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'restaurant'})"><div class="icon"><i class="fa fa-cutlery"></i></div><div class="caption"><div translate="dashboard.po_eat"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'supermarket'})"><div class="icon"><i class="fa fa-gift"></i></div><div class="caption"><div translate="dashboard.po_dress"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'hotel'})"><div class="icon"><i class="fa fa-home"></i></div><div class="caption"><div translate="dashboard.po_live"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'entertainment'})"><div class="icon"><i class="fa fa-microphone"></i></div><div class="caption"><div translate="dashboard.po_entertainment"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'hotel'})"><div class="icon"><i class="fa fa-plane"></i></div><div class="caption"><div translate="dashboard.po_travel"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'cosmetology'})"><div class="icon"><i class="fa fa-female"></i></div><div class="caption"><div translate="dashboard.po_woman"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.shoplist({subtype:'body,school,hospital,park,mall'})"><div class="icon"><i class="fa fa-terminal"></i></div><div class="caption"><div translate="dashboard.po_other"></div></div></a> </li>
				-->

				
				<li class="demo_li"><a ui-sref="app.wx.me.cart"><div class="icon"><i class="fa fa-shopping-cart"></i></div><div class="caption"><div translate="dashboard.cart"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.settle"><div class="icon"><i class="fa fa-cny"></i></div><div class="caption"><div translate="dashboard.settle"></div></div></a> </li>
				

            </ul>
        </div>


							   </div>
						
					</form>
					
				</div>
				<!-- end: REGISTER BOX -->


<p>&nbsp;</p>

				

	</div>
</div>
<!-- end: REGISTRATION -->

<!--<script src="assets/js/jquery.popmenu.js"></script>
    <script>
        $(function(){
            $('#demo_box').popmenu({
        'controller': false,       // use control button or not
        'width': '100%',         // width of menu
        'background': 'rgba(56, 121, 217, 0.8)',  // 0a3248 background color of menu
        'focusColor': 'rgba(72, 71, 77, 0.3)',  // hover color of menu's buttons
        'borderRadius': '10px',   // radian of angles, '0' for right angle
        'top': '0',              // pixels that move up
        'left': '0',              // pixels that move left
    'position':'',
    'fontColor':'#0a3248',
    'iconSizeW': '55px',
    'iconSizeH': '',
        'iconBlockW': '90px',       // size of menu's buttons
    'iconBlockH': ''       // size of menu's buttons
        });
        })
    </script>-->