<script src="assets/js/controllers/mk/DealStatCtrl.js"></script>

<!-- start: LOGIN -->
<div class="row">
	<div class="main-login col-xs-12" style="margin-bottom:60px;">
		
		<!-- start: LOGIN -->
				<!-- start: LOGIN BOX -->
				<div class="box-login small" ng-controller="DealStatCtrl">
					
						

								
								




	<div class="col-sm-12">
				
				<div class="panel-body">
					<!-- /// controller:  'OnotherCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
					<div>
						<div class="text-center">
							<span class="mini-pie"> <canvas ng-if="renderChart" class="tc-chart" tc-chartjs-doughnut chart-options="options" chart-data="data" chart-legend="chart2" width="100"></canvas> <span>{{total}}</span> </span>
							<span class="inline text-large no-wrap">积分情况</span>
						</div>
						<div class="margin-top-20 text-center legend-xs">
							<div tc-chartjs-legend chart-legend="chart2" class="inline"></div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="clearfix padding-5 space5">
						<div class="col-xs-6 text-center no-padding">
							<div class="border-right border-dark">
								<span class="text-bold block text-extra-large">{{xffjf}}（{{per_xf}}%）</span>
								<span class="text-light">消费获得</span>
							</div>
						</div>
						
						<div class="col-xs-6 text-center no-padding">
							<span class="text-bold block text-extra-large">{{xxxfjl}}（{{per_yqjl}}%）</span>
							<span class="text-light">邀请奖励</span>
						</div>
					</div>
				</div>
			
		</div>



		<div class="col-sm-12">
				
				
				<div class="panel-footer">
					<div class="clearfix padding-5 space5">
						<div class="col-xs-6 text-center no-padding">
							<div class="border-right border-dark">
								<span class="text-bold block text-extra-large">{{kxfjf}}</span>
								<span class="text-light">可消费积分币</span>
							</div>
						</div>
						
						<div class="col-xs-6 text-center no-padding">
							<span class="text-bold block text-extra-large">{{ysyjf}}</span>
							<span class="text-light">已使用积分币</span>
						</div>
					</div>



					<p>&nbsp;</p>
					
								<div class="form-group">
                                  <div class="col-sm-block">
                                  
                                  <a class="btn btn-orange btn-block" href1="#/app/wx/me/order" ui-sref="app.wx.me.order">
									 订单详情 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                    
                                  </div>
                              </div>
					
								<div class="form-group">
                                  <div class="col-sm-block">
                                  
                                  <a class="btn btn-orange btn-block" href1="integration_detail_xf.html" ui-sref="app.wx.me.integration_detail_xf">
									 消费返积分明细 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                    
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-block">
                                  <a class="btn btn-light-orange btn-block" href1="integration_detail_used.html" ui-sref="app.wx.me.integration_detail_used">
									 已使用积分明细 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                     
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-block">
                                   <a class="btn btn-azure btn-block" href1="integration_detail_pj.html" ui-sref="app.wx.me.integration_detail_pj">
									 待评价消费记录 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                   
                                  </div>
                              </div>




				</div>
			
		</div>





								
							<div style="display:none;">
								<div class="form-group">
                                  <label class="col-sm-block control-label">
                                      可消费积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="kxfjf" class="form-control">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label">
                                      消费返积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="xffjf" class="form-control">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label">
                                      邀请奖励积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="xxxfjl" class="form-control">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label">
                                      已使用积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input placeholder="" id="ysyjf" class="form-control">
                                  </div>
                              </div>
                              
                              <p>&nbsp;</p>
                              </div>






				</div>
				<!-- end: LOGIN BOX -->

				

			</div>
		</div>
		<!-- end: LOGIN -->
