<script src="assets/js/controllers/mk/FirstPageCtrl.js"></script>

<!-- start: REGISTRATION -->
<div class="row">
	<div class="main-login col-xs-12" ng-controller="FirstPageCtrl">
		


<div>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{serviceRoot+slide.image}}" style="margin:auto;height:160px;width:100%;">
            <div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div>

<div class="clearfix space5"></div>




		<!-- start: REGISTER BOX -->
				<div class1="box-register">
						

						<div id="msg" style="z-index:999999;">小晴语音助手来帮您。。。请说</div>


                            <!-- start: FEATURED BOX LINKS -->

							<div class="row" align=center>


								
								<div id="menu" class="row container-fluid small" align=center style="padding-top:15px;padding-left:40px;padding-right:40px;">
                              					<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.shoplist"><img src="assets/images/img_businessmen_new.png"><div class="caption"><div translate="dashboard.shop"></div></div></a></div> </div>

                              					<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.iwant"><img src="assets/images/img_woyao_new.png"><div class="caption"><div translate="dashboard.iwant"></div></div></a></div> </div>

												<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.settle"><img src="assets/images/xfjs.png"><div class="caption"><div translate="dashboard.settle"></div></div></a></div> </div>

												
												<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.invite"><img src="assets/images/fzhy.png"><div class="caption"><div translate="dashboard.invite"></div></div></a></div> </div>

												<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.plan"><img src="assets/images/xfjh.png"><div class="caption"><div translate="dashboard.plan"></div></div></a></div> </div>

												<!--<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.shopgoods_by_producttype({shop_id:'325',product_type:'餐饮'})"><img src="assets/images/mkyfz.png"><div class="caption"><div translate="dashboard.oneminute"></div></div></a></div> </div>-->

												<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ui-sref="app.wx.me.oneminute"><img src="assets/images/mkyfz.png"><div class="caption"><div translate="dashboard.oneminute"></div></div></a></div> </div>

												<div class="col-xs-3" align=center ><div align=center style="padding-top:15px;padding-bottom:15px;"><a ng-click="open('myModalContent')"><img src="assets/images/gzmk.png"><div class="caption"><div translate="dashboard.scanmk"></div></div></a></div> </div>
                              </div>
                              




	<!--
		<div id="demo_box">
            <ul id="demo_ul">
               <li class="demo_li"><a ui-sref="app.eco.gis"><div class="icon"><i class="ti ti-map-alt"></i></div><div class="caption"><div translate="dashboard.map"></div></div></a></li>
				<li class="demo_li"><a ui-sref="app.wx.deal"><div class="icon"><i class="fa fa-cny"></i></div><div class="caption"><div translate="dashboard.xf"></div></div></a></li>
<li class="demo_li"><a ui-sref="app.wx.me.shoplist"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/xfyd.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.po" style="color:#4c4c4c;"></p></a> </li>
<li class="demo_li"><a ui-sref="app.wx.me.settle"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/xfjs.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.settle" style="color:#4c4c4c;"></p></a> </li>		

<li class="demo_li"><a ui-sref="app.wx.me.invite"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/fzhy.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.invite" style="color:#4c4c4c;"></p></a> </li>


				<li class="demo_li"><a ui-sref="app.wx.me.cart"><div class="icon"><i class="fa fa-shopping-cart"></i></div><div class="caption"><div translate="dashboard.cart"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.settle"><div class="icon"><i class="fa fa-cny"></i></div><div class="caption"><div translate="dashboard.settle"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.plan"><div class="icon"><i class="fa fa-file-text-o"></i></div><div class="caption"><div translate="dashboard.plan"></div></div></a> </li>
				<li class="demo_li"><a ui-sref="app.wx.me.deallist"><div class="icon"><i class="fa fa-list-ul"></i></div><div class="caption"><div translate="dashboard.deallist"></div></div></a> </li>

<li class="demo_li"><a ui-sref="app.wx.me.plan"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/xfjh.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.plan" style="color:#4c4c4c;"></p></a> </li>
               <li class="demo_li"><a ui-sref="app.wx.me.self"><div class="icon"><i class="ti ti-user"></i></div><div class="caption"><div translate="dashboard.self"></div></div></a></li>
                <li class="demo_li"><a ui-sref="app.wx.me.help"><div class="icon"><i class="ti ti-help"></i></div><div class="caption"><div translate="dashboard.help"></div></div></a></li>

				<li class="demo_li"><a ui-sref="app.wx.me.newact"><div class="icon"><i class="ti ti-gift"></i></div><div class="caption"><div translate="dashboard.newact"></div></div></a></li>
				<li class="demo_li"><a ui-sref="app.wx.me.oneminute"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/mkyfz.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.oneminute" style="color:#4c4c4c;"></p></a></li>

				<li class="demo_li"><a ng-click="open('myModalContent')"><span class="fa-stack fa-3x" style="margin:0 0 10px;"> <img src="assets/images/gzmk.png" style="height:2em;width:2em;"> </span><p class="text-small" translate="dashboard.scanmk" style="color:#4c4c4c;"></p></a></li>
				<li class="demo_li"><a ui-sref="app.wx.me.mkman"><div class="icon"><i class="ti ti-hummer"></i></div><div class="caption"><div translate="dashboard.mkman"></div></div></a></li>
            </ul>  
        </div>
-->
											
										
<div id="myModalContent" title="myModalContent" style="display:none;border:1px solid #dddddd;background:#fff;" class="roundrec">
				
					<div class="modal-header">
					<h3 class="modal-title">扫描名卡微信公众号</h3>
					</div>
					<div class="modal-body">
					
					<img src="assets/images/qrcode_for_mk.jpg" style="width:200px;">



					</div>
					
</div>

<!--
								<div class="col-sm-12">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-body">
											<a href1  ui-sref="app.eco.gis"><span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="ti ti-map fa-stack-1x fa-inverse"></i> </span></a>
											<h2 class="title" translate="dashboard.zb"></h2>
											
											
										</div>
									</div>
								</div>

								<div class="col-sm-12">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-body">
											<a href1  ui-sref="app.wx.deal"><span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span></a>
											<h2 class="title" translate="dashboard.xf"></h2>
											
											
										</div>
									</div>
								</div>

								

								<div class="col-sm-12">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-body">
											<a href1 ui-sref="app.wx.me.self"><span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="ti ti-user fa-stack-1x fa-inverse"></i> </span></a>
											<h2 class="title" translate="dashboard.self"></h2>
											
											
										</div>
									</div>
								</div>


								<div class="col-sm-12">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-body">
											<a href1 ui-sref="app.wx.me.help"><span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="ti ti-help fa-stack-1x fa-inverse"></i> </span></a>
											<h2 class="title" translate="dashboard.help"></h2>
											
											
										</div>
									</div>
								</div>

								<div class="col-sm-12">
									<div class="panel panel-white no-radius text-center">
										<div class="panel-body">
											<img id="qrcode" src="{{serviceRoot}}qrcode?msg={{serviceRoot}}&width=140&height=140" style="width:120px;height:120px;">
								<br>扫描此二维码在浏览器打开
											
											
										</div>
									</div>
								</div>
-->

							</div>
					
<!-- end: FEATURED BOX LINKS -->
					
				</div>
				<!-- end: REGISTER BOX -->
					
				
					<!-- start: COPYRIGHT -->
					<div class="copyright small">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span class="small">All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
	</div>
</div>
<!-- end: REGISTRATION -->




<!--<script src="assets/js/jquery.popmenu.js"></script>
    <script>
        $(function(){
            $('#demo_box').popmenu({
        'controller': false,       // use control button or not
        'width': '100%',         // width of menu
        'background': 'rgba(56, 121, 217, 0.8)',  // 0a3248 background color of menu
        'focusColor': 'rgba(72, 71, 77, 0.3)',  // hover color of menu's buttons
        'borderRadius': '10px',   // radian of angles, '0' for right angle
        'top': '0',              // pixels that move up
        'left': '0',              // pixels that move left
		'position':'',
		'fontColor':'#0a3248',
		'iconSizeW': '55px',
		'iconSizeH': '',
        'iconBlockW': '90px',       // size of menu's buttons
		'iconBlockH': ''       // size of menu's buttons
        });
        })
    </script>-->