<script src="assets/js/controllers/mk/HelpCtrl.js"></script>

<!-- start: REGISTRATION class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4"-->
<div class="row">
	<div class="main-login col-xs-12" style="margin-bottom:60px;">
		
		<!-- start: REGISTER BOX -->
				<div class="box-register small" ng-controller="HelpCtrl">
					<form id="f1" class="form-register">

						


							  <div class="col-lg-6 col-md-12">
							  <div class="form-group">
                                  <div class="col-sm-block">
                                  
                                  <a class="btn btn-orange btn-block" ui-sref="app.wx.me.about">
									 会员须知 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                    
                                  </div>
                              </div>
							  </div>



							  <div class="col-lg-6 col-md-12">
							  <div class="form-group">
                                  <div class="col-sm-block">
                                  
                                  <a class="btn btn-azure btn-block" ui-sref="app.wx.me.problem">
									 常见问题 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                    
                                  </div>
                              </div>
							  </div>


							
						
					</form>
					
				</div>
				<!-- end: REGISTER BOX -->

				
				<!-- start: COPYRIGHT -->
					<div class="copyright small">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span class="small">All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
				
	</div>
</div>
<!-- end: REGISTRATION -->
