<link rel="stylesheet" type="text/css" href="../bower_components/gallery/component.css">
<link rel="stylesheet" type="text/css" href="../bower_components/gallery/demo.css">

<script type="text/javascript" src="../bower_components/gallery/imagesloaded.js"></script>
<script type="text/javascript" src="../bower_components/gallery/masonry.js"></script>
<script type="text/javascript" src="../bower_components/gallery/classie.js"></script>
<script type="text/javascript" src="../bower_components/gallery/cbpGridGallery.js"></script>



<script src="assets/js/controllers/mk/OneminuteCtrl.js"></script>




<div id="grid-gallery" class="grid-gallery" ng-controller="OneminuteCtrl">
	<section class="grid-wrap">
		<ul id="lists" style="position: relative; height: 2574.92px;" class="grid">
			<li style="position: absolute; left: 0px; top: 0px;" class="grid-sizer"></li><!-- for Masonry column width -->

			

			
		</ul>
		<div id="pageLoading" class="pageLoading">加载中。。。</div>
	</section><!-- // grid-wrap -->







	<section class="slideshow">
		<ul id="lists2" >
			
			
		</ul>
		<nav>
			<span class="nav-prev"><i class="fa fa-chevron-left"></i></span>
			<span class="nav-next"><i class="fa fa-chevron-right"></i></span>
			<span class="nav-close"><i class="fa fa-times"></i></span>
		</nav>
		<div class="info-keys icon">Navigate with arrow keys</div>
	</section><!-- // slideshow -->




</div><!-- // grid-gallery -->

