<script src="assets/js/controllers/mk/ScanCtrl.js"></script>



<!-- start: REGISTRATION -->
<div ng-controller="ScanCtrl">
	<div class="main-login col-xs-12" style="margin-top:5px;margin-bottom:60px;">
		


<div class="box-register" style="margin:0px;padding:5px;">
		<form id="f1" class="form-register">
	
															<div ng-click="scanbtn_act()">
																<span class="input-icon">
																	<input type="text" class="form-control" id="qrcode" name="qrcode" readOnly>
																	<i class="fa fa-qrcode"></i> 
																	<a class="forgot">
																		扫码
																	</a>
																	</span>
															</div>
				
												</form>
</div>

<div class="clearfix space5"></div>

		<!-- start: REGISTER BOX -->
				<div class="box-register" style="margin:0px;padding:5px;">

					<div class="row">

					<div id="container"></div>

					</div>
															



				</div>
				<!-- end: REGISTER BOX -->





				<!-- start: COPYRIGHT -->
					<div class="copyright small">
						&copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span class="small">All rights reserved</span>
					</div>
					<!-- end: COPYRIGHT -->
					
					
	</div>
</div>
<!-- end: REGISTRATION -->
