<!-- start: LOGIN -->
<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<!--<div class="logo">
			<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
		</div>-->
		<!-- start: LOGIN -->
				<!-- start: LOGIN BOX -->
				<div class="box-login">
					<form class="form-login" action="index.html">

						<div class="titlebar">    
							<!--<a href1 class="title">积分管理</a>-->
							<!--<a href1 ui-sref="app.eco.firstpage" class="home"><span class="fa-stack fa-2x">  <i class="ti ti-home fa-stack-1x"></i> </span></a>-->
							<!--<a href1 ng-click="back()" class="back"><span class="fa-stack fa-2x">  <i class="ti ti-arrow-left fa-stack-1x"></i> </span></a>-->
						</div>

							<div class="form-group">
                                  <label class="col-sm-block control-label" for="inputEmail3">
                                      可消费积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input type="email" placeholder="" id="inputEmail3" class="form-control" style="text-align:center;">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label" for="inputPassword3">
                                      消费返积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input type="password" placeholder="" id="inputPassword3" class="form-control" style="text-align:center;">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label" for="inputPassword3">
                                      下线消费奖励
                                  </label>
                                  <div class="col-sm-block">
                                      <input type="password" placeholder="" id="inputPassword3" class="form-control" style="text-align:center;">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-block control-label" for="inputPassword3">
                                      已使用积分币
                                  </label>
                                  <div class="col-sm-block">
                                      <input type="password" placeholder="" id="inputPassword3" class="form-control" style="text-align:center;">
                                  </div>
                              </div>
                              
                              <p>&nbsp;</p>
                              
                              <div class="form-group">
                                  <div class="col-sm-block">
                                  
                                  <a class="btn btn-orange btn-block" href="integration_detail_xf.html">
									 消费返积分明细 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                    
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-block">
                                  <a class="btn btn-light-orange btn-block" href="integration_detail_used.html">
									 已使用积分明细 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                     
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-block">
                                   <a class="btn btn-azure btn-block" href="integration_detail_pj.html">
									 待评价消费记录 <i class="fa fa-chevron-circle-right"></i>
								</a>
                                   
                                  </div>
                              </div>
						
					</form>
					
				</div>
				<!-- end: LOGIN BOX -->

				
			</div>
		</div>
		<!-- end: LOGIN -->
