<script src="assets/js/controllers/mk/LoginCtrl.js"></script>

<!-- start: REGISTRATION -->
<div class="row">
	<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<!--<div class="logo">
			<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
		</div>-->
		<!-- start: REGISTER BOX -->
				<div class="box-register" ng-controller="LoginCtrl">
					<form id="f1" class="form-register">

						<div class="titlebar">    
							<!--<a href1 class="title">商家管理</a>-->
							<!--<a href1 ui-sref="app.eco.firstpage" class="home"><span class="fa-stack fa-2x">  <i class="ti ti-home fa-stack-1x"></i> </span></a>-->
							<!--<a href1 ng-click="back()" class="back"><span class="fa-stack fa-2x">  <i class="ti ti-arrow-left fa-stack-1x"></i> </span></a>-->
						</div>
						

                            <div>
							
							</div>
							
							
							
							<div class="form-actions">
								<p>
									已经有帐号?
									<a href1="login_signin.html" ui-sref="app.wx.me.login">
										登录
									</a>
								</p>
								

								<p>
									没有帐号?
									<a href1="login_signin.html" ui-sref="app.wx.me.reg">
										注册
									</a>
								</p>

							</div>
						
					</form>
					
				</div>
				<!-- end: REGISTER BOX -->
				
	</div>
</div>
<!-- end: REGISTRATION -->
