<script src="assets/js/controllers/mk/SettleCtrl.js"></script>


<!-- start: REGISTRATION -->
<div class="row">
    <div class="main-login col-xs-12">

        <!-- start: REGISTER BOX -->


        <div class="box-login" ng-controller="SettleCtrl" style="padding-left:0px;padding-right:0px;">


            <br>

            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <div class="col-sm-block">

                        <a class="btn btn-orange btn-block" ui-sref="app.wx.me.settle_mem">
                            我要付款（会员） <i class="fa fa-chevron-circle-right"></i>
                        </a>

                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-12">
                <div class="form-group">
                    <div class="col-sm-block">

                        <a class="btn btn-green btn-block" ui-sref="app.wx.me.settle_shop">
                            我要收款（商家）<i class="fa fa-chevron-circle-right"></i>
                        </a>

                    </div>
                </div>
            </div>


        </div>


        <!-- end: REGISTER BOX -->

        <!-- start: COPYRIGHT -->
        <div class="copyright small">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase small"> SNIPS</span>. <span
                class="small">All rights reserved</span>
        </div>
        <!-- end: COPYRIGHT -->

    </div>
</div>
<!-- end: REGISTRATION -->
