<script src="assets/js/controllers/mk/PlanCtrl.js"></script>

<!-- start: REGISTRATION -->
<div class="row">
	<div class="main-login col-xs-12">
		
		<!-- start: REGISTER BOX -->
				<div class="box-register" ng-controller="PlanCtrl">


					<div>
					<form id="f1" class="form-register">

						
					
                              
                   <!-- start: SIMPLE TABLE WITH PAGINATION -->                             
						<div ng-controller="PlanCtrl">

						<!--
										<p>
											<strong>Page:</strong> {{tableParams.page()}}
										</p>
										<p>
											<strong>Count per page:</strong> {{tableParams.count()}}
										</p>-->
										
									</div>
						<!-- end: SIMPLE TABLE WITH PAGINATION -->
								


                             
                              
						
					</form>  
					</div>
                              
						

				</div>
				<!-- end: REGISTER BOX -->
				

					
	</div>
</div>
<!-- end: REGISTRATION -->
