<script src="assets/js/controllers/mk/xxdjCtrl.js"></script>


<style>

#msg{position:fixed; top:300px; right:35px; z-index:10000; width:1px; height:52px; line-height:52px; font-size:20px; text-align:center; color:#fff; background:#360; display:none}
       
         #demo_ul .fa{
			font-size: 20px;
            line-height: 70px;
        }
       #demo_ul .ti{
			font-size: 20px;
            line-height: 70px;
        }
       li{
       	list-style-type:none;       	
       	display:inline;
       	border: solid 0.5px #698880;
       	background-color:#ebe8e3;
       }
       
    </style>
<!-- start: REGISTRATION -->


<div class="container-fluid" ng-controller="xxdjCtrl" style="background-color:#ebe8e3;height:100%;">
	<div class="row">		
		<div class="col-xs-12" style="height:120px;background-image:url(assets/images/dw.png);" align="center">    
			<p style="padding-top:10px"><img src="assets/images/head.png" height="100px" width="150px"/></p>   
		</div> 	
	</div>
	<div id="menu" class="row" align="center" style="height:100%">
		<div class="col-xs-4" style="border-bottom:1px solid #698880;border-right:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/kf.png" style="width:50px;">
				<img src="assets/images/kf_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>
		<div class="col-xs-4" style="border-bottom:1px solid #698880;border-right:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/cy.png" style="width:50px;">
				<img src="assets/images/cy_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>
		<div class="col-xs-4" style="border-bottom:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/yl.png" style="width:50px;">
				<img src="assets/images/yl_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>	


		<div class="col-xs-4"  style="border-bottom:1px solid #698880;border-right:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/cd.png" style="width:50px;">
				<img src="assets/images/cd_word.png" style="margin-top:10px;height:20px;">

			</a>
		</div>	
		<div class="col-xs-4"  style="border-bottom:1px solid #698880;border-right:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/cs.png" style="width:50px;">
				<img src="assets/images/cs_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>	
		<div class="col-xs-4" style="border-bottom:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/ktv.png" style="width:50px;">
				<img src="assets/images/ktv_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>	



		<div class="col-xs-4"  style="border-right:1px solid #698880;border-bottom:1px solid #698880;padding-top:15px;padding-bottom:15px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/yc.png" style="width:50px;">
				<img src="assets/images/yc_word.png" style="margin-top:10px;height:20px;">
			</a>
		</div>
		<div class="col-xs-4"  style="border-bottom:1px solid #698880;border-right:1px solid #698880;padding-top:15px;padding-bottom:10px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/cygf.png" style="width:50px;">
				<img src="assets/images/cygf_word.png" style="margin-top:5px;height:30px;">
			</a>
		</div>
		<div class="col-xs-4"  style="border-bottom:1px solid #698880;padding-top:15px;padding-bottom:10px;">
			<a ui-sref="app.wx.me.shoplist">
				<img src="assets/images/zxcjs.png" style="width:50px;">
				<img src="assets/images/zxcjs_word.png" style="margin-top:5px;height:30px;">
			</a>
		</div>
		
	</div>
	
</div>
<!-- end: REGISTRATION -->



